# Supabase Configuration
# Get these values from your Supabase project settings:
# https://app.supabase.com/project/_/settings/api

NEXT_PUBLIC_SUPABASE_URL=https://pzvxmfhsparhjhjqwemo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6dnhtZmhzcGFyaGpoanF3ZW1vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU1NzcxNzIsImV4cCI6MjA4MTE1MzE3Mn0.4yvdAGEGpbp7NFbuXQy0HIeo2KLe7bAvf-pVRMHlA_k

SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6dnhtZmhzcGFyaGpoanF3ZW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTU3NzE3MiwiZXhwIjoyMDgxMTUzMTcyfQ.SXZ1CMb2P9A32ZiYlapYJ4mMAENR-afdjnlonhVBnsE